#holder{
	height:200px;	 
	width:360px;
	background-color:#F5F5F5;
	border:1px solid #A4A4A4;
	margin-left:200px;
	display: inline-block;
}

#place {
	position:relative;
	margin:7px;
}

#place a{
	font-size:0.6em;
}
     
#place li {
	list-style: none outside none;
    position: absolute;   
}

#place li:hover {
	background-color:yellow;      
}

#place .seat{
	background:url('../img/available_seat_img.gif');
	height:33px;
	width:33px;
	display:block;	 
}

#place .selectedSeat { 
	background:url('../img/booked_seat_img.gif');      	 
}

#place .selectingSeat { 
	background:url('../img/selected_seat_img.gif');      	 
}

#place .row-3, #place .row-4 {
	margin-top:10px;
}

.seatDescription {
	margin-top: 20px;
	margin-right: 350px;
	display: inline-block;
	float: right;
	padding:0px;
}
	  
.seatDescription li {  
	list-style: none;
	padding-left:35px;
	height:35px;
}