.logo {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 360px;
}

.searchform{
	background-color: #ccc;
	padding: 15px;
	border-radius: 30px;
	border: 1px solid;
}

.populardest{
	padding: 15px;
}

.additionalopt {
	margin-top: 10px;
	margin-left: 50px;
}

.reservationinput {
	margin-top: 10px;
}

.reservationinput input {
	width: 100px;
}